node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.nuxt
.output
.vscode
.git
.github
*.log
.env*
!.env.example
Dockerfile*
.dockerignore
README.md
coverage
.nyc_output
.cache
dist
build
*.tgz
*.tar.gz
